// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Lobster');

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
    h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lobster', cursive;
  }
  h2 {
    text-align: center;
    text-decoration: none;
    margin: 40px;
    color: #f5fbf1;
  }
}


.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.link1 {
  text-decoration: none;
    margin: 40px;
    color: #f5fbf1;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.link1:hover{
  text-decoration: none;
  color: #d2f3e0;
}
